/*img {
	max-width: 25vw;
}*/

/*dl {
	display: flex;
	width: 32vw;
}*/

dt {
	font-weight: bold;
}

button {
	width: 25vw;
}

.row {
	margin-bottom: 15px;
}

.userhead-container {
	background-color: grey;
}

.card-deck {
	padding-right: 15px;
	padding-left: 15px;
}

.card {
	width: 28vw;
}

/*.card-title {
	margin-left: 5px;
	margin-right: 5px;
	font-size: 1em;
}

.card-text {
	margin-left: 5px;
	margin-right: 5px;
}*/

/*.card-block {
	display: block;
	width: 32vw;
	height: auto;
	max-height: 100%;
	max-width: 100%;
}*/

/*.card-footer {
	display: block;
}*/

img.card-img-top {
	width: 100%;
}

/*.card-block .row {
	margin-bottom: unset;
}*/

/*.card-block .row .col.s6 p {
	margin: 0.5em 0;
}*/

#villainCardDesign {
	background-color: #333;
	border: #333;
}

button.close {
	width: unset;
}

#new-sheets-buttons {
	padding: 0 30px;
}

#middle-new-sheets-button {
	padding: 0 40px;
}

.invisible {
	visibility: hidden;
}

@media (max-width: 575px) {
	.card {
		display: block;
		width: 20rem;
		margin-right: auto!important;
		margin-left: auto!important;
	}
}

@media (max-width: 767px) {
	.card-deck {
		padding-right: 0px;
		padding-left: 0px;
	}
}

/*@include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }
@include media-breakpoint-up(xl) { ... }*/


