dl {
	display: flex;
	width: 32vw;
}

dt {
	font-weight: bold;
}

.userhead-container {
	background-color: grey;
}

.card-deck {
	display: flex;
}

.card {
	width: 100vw;
}

.card-img-top {
	height: 32vw;
	width: 32vw;
	max-width: 100%;
	max-height: 100%;
}

.card-title {
	margin-left: 5px;
	margin-right: 5px;
	font-size: 1em;
}

.card-text {
	margin-left: 5px;
	margin-right: 5px;
}

.card-block button {
	width: 32vw;
	margin-bottom: 5px;
}